@use "../../styles/variables";

.blog {
    display: flex;
    gap: 5rem;
    align-items: center;
    max-width: 82rem;
    width: 70%;
    padding: 2rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    justify-content: center;
    border: 1px solid variables.$text-color;
}